@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@500;600&display=swap");
/* ---header--- */
header {
  background-color: rgba(255, 255, 255, 0.676);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

.logo-nav {
  width: 25%;
  margin: 0 auto;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

header li a {
  color: #101235;
  display: block;
  text-decoration: none;
  font-weight: 400;
}

header .logo-nav {
  display: block;
  text-decoration: none;
}

/* link underline on header, dont show in mobile*/
.selected-link {
  display: none;
}

/* ---menu--- */
header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .3s ease-out;
  transition: .5s;
}

.menu li {
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
  letter-spacing: 1.1px;
}

/* ---menu icon--- */
.menu-icon {
  width: 30px;
  cursor: crosshair;
  display: inline-block;
  float: right;
  border-radius: 10px;
  margin-right: 5%;
  position: relative;
  user-select: none;
  bottom: 38px;
}

header .menu-icon .navicon {
  background: #101235;
  display: block;
  height: 2px;
  border-radius: 25px;
  position: relative;
  width: 100%;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #101235;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-in-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 5px;
}

header .menu-icon .navicon:after {
  top: -5px;
}

/* ---menu btn--- */
header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 320px) {
  .menu-icon {
    bottom: 22px;
  }
}

@media (min-width: 424px) {
  .menu-icon {
    bottom: 28px;
  }
}

@media (min-width: 667px) {
  header {
    position: relative;
  }
  .logo-nav {
    padding-top: 3.5rem;
  }
  .menu li a:hover {
    color: darkblue;
  }
  .menu li a:hover {
    transition: .5s;
  }
  header li a {
    padding: 10px 15px;
    cursor: crosshair;
  }
  header .menu {
    text-align: center;
    min-height: 4.5rem;
  }
  header .menu-icon {
    display: none;
  }
  header li {
    display: inline-block;
    margin: 0 auto;
    padding-top: 10px;
  }
  header .menu-icon {
    display: none;
  }
  header li a {
    margin: 5px;
  }
}

.portfolio-projects {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.portfolio-grid {
  display: grid;
  position: relative;
  overflow: hidden;
}

.thumbnail-image {
  opacity: 1;
  display: block;
  width: 110%;
  position: relative;
  left: -10px;
  bottom: 0;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  overflow: hidden;
}

.middle {
  z-index: 999;
  display: block;
  background-color: rgba(132, 0, 255, 0.63);
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.thumb-project-title, a:link {
  text-decoration: none;
  font-size: 15px;
  padding: 0;
}

.thumb-project-title, h1 {
  font-size: 20px;
  color: #fff;
  letter-spacing: 1.1px;
  padding: 10px;
}

.portfolio-grid:hover .image {
  opacity: 0.3;
}

.portfolio-grid:hover .middle {
  opacity: 1;
}

@media (min-width: 769px) {
  .portfolio-projects {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    display: grid;
    column-gap: 10px;
    row-gap: 5px;
  }
  .portfolio-grid img {
    display: block;
    width: 110%;
    height: 100%;
  }
}

.projtitle {
  text-align: center;
  font-size: 30px;
  color: #fff;
  line-height: 400px;
  font-weight: 500;
  letter-spacing: 1.12px;
  font-family: 'Playfair Display';
  text-shadow: 1px 1px 14px #000000;
}

.portfolio-parallax-project {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/4622976/pexels-photo-4622976.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  /* Set a specific height */
  min-height: 200px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.proj-header {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/2343170/pexels-photo-2343170.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  /* Set a specific height */
  min-height: 200px;
  display: block;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-info {
  display: block;
  padding: 10% 1% 0 1%;
}

.project-specifics {
  font-size: 10px;
  padding: 10% 3%;
  text-align: center;
}

.project-specifics ul li {
  display: inline-block;
  text-align: center;
}

.project-specifics li {
  padding-left: 20px;
}

.desc {
  padding: 2%;
  margin: 10% auto;
  font-size: 12px;
  line-height: 16px;
}

.project-name, .project-objective-title {
  padding-left: 2%;
  font-size: 12px;
  line-height: 16px;
}

.project-objective {
  padding: 2%;
  font-size: 12px;
  line-height: 16px;
}

.project-views-container {
  display: block;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.portfolio-closeup-PROJECTNAME img {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 3% 0 0 0;
}

.proj-links {
  margin: 5% 0 0 0;
}

.proj-links ul {
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

.proj-links ul li {
  display: inline-block;
  list-style-type: none;
}

.proj-links ul li a {
  font-size: 11px;
}

.allProj {
  padding-top: 7px;
}

@media (min-width: 424px) {
  .project-info {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .project-description {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
  .portfolio-closeup {
    width: 100%;
    margin: 0 auto;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .portfolio-closeup img {
    display: block;
    width: 100%;
  }
  .portfolio-parallax-project {
    min-height: 500px;
  }
  .proj-header {
    min-height: 500px;
  }
  .projtitle {
    line-height: 600px;
  }
  .project-info {
    display: block;
    padding: 5% 1% 0 1%;
  }
  .project-specifics {
    font-size: 10px;
    padding: 5% 3%;
    text-align: center;
  }
  .proj-links {
    margin: 5% 0 0 0;
  }
  .proj-links ul {
    text-align: center;
    width: 90%;
    background-color: grey;
    margin: 0 auto;
  }
  .proj-links ul li {
    font-size: 10px;
    display: inline-block;
    list-style-type: none;
  }
}

@media (min-width: 769px) {
  .project-description {
    width: 55%;
  }
}

footer {
  background: #a1e6cd;
  padding: 7% 2%;
  margin-top: 5%;
}

.footer-nav {
  padding: 3%;
}

.footer-nav, a {
  color: #475454;
  text-align: center;
  padding: 8px 10px;
  margin: .5%;
  font-weight: bold;
  display: inline-block;
}

.footer-nav, .social-media {
  list-style-type: none;
  display: inline-block;
  width: 98%;
  margin: 0 auto;
  font-size: px;
  text-transform: uppercase;
}

.social-media {
  margin: 0 auto;
  text-align: center;
}

.social-media li a {
  padding: 10px;
  font-size: 18px;
  margin-right: 10px;
}

.footer-nav li a {
  padding: 10px;
  font-size: 10px;
  margin-right: 10px;
}

.footer-nav li, .social-media li {
  display: inline;
}

.footer-nav a, .social-media a {
  text-decoration: none;
  transition: .3s;
}

.footer-nav a:hover, .social-media a:hover {
  color: #606e69;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #979c9a;
  display: block;
  padding: 5%;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 20px;
  letter-spacing: .5px;
  color: #101235;
  transition: opacity 2s;
}

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.shadow {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  /* Similar syntax to box-shadow */
}

h1 {
  font-family: 'Playfair Display', serif;
}

.bold {
  font-weight: 600;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.about-main {
  text-align: center;
  display: none;
}

.content-container {
  display: block;
  width: 100%;
  margin: 0 auto;
  color: black;
}
/*# sourceMappingURL=main.css.map */