// ------------------- colours

$darkblue: #101235;


$main-teal: #4defc5;
$main-pink: #f42f67;
$main-purple: #6d31ff;


// -------------------  media queries
$tablet-width:424px;
$desktop-width: 769px;