//import all of my css variables
@import '_vars.scss';
@import '_header.scss';
@import '_portfolio.scss';
@import '_portpage.scss';
@import '_footer.scss';

// ------------------- global
* {margin:0;padding:0;}

html {
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
	line-height: 20px;
    letter-spacing: .5px;
    color: $darkblue;
    font-weight: 300;
    //background-color: indigo; //check to see if css is workin tho
    background-color:rgb(243, 243, 243);
    transition: opacity 2s;
}
.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
  }

// ------------------- headers & font style

h1 {
    font-family: 'Playfair Display', serif;
}
.bold {
    font-weight: 500;
}

// ------------------- floats & clearfix

.right {
    float: right;
}
.left {
    float: left;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

// ------------------- intro text
.about-main {
    text-align: center;
    display: none;
}
.content-container {
    display: block;
    width: 100%;
    margin: 0 auto;
    color: black;
}

